<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>
  <div class="table-container">
  <table>
    <tr>
      <td colspan="3">Account<hr></td>
    </tr>
    <tr>
      <td>Membership</td>
      <td>Username: <%=users[0].username%><br>Password: </td>
      <td><div id="updateBtn">Change username</div><br><div id="updatePswd">Change password</div></td>
    </tr>
    <tr>
      <td colspan="3"><hr></td>
    </tr>
    <tr>
      <td>Profiles</td>
      <td><img src="assets/default_user.png" width = "150" height = "100" alt="second"> <%=users[0].first + " " + users[0].last%></td>

    </tr>
    <tr>
      <td colspan="3"><hr></td>
    </tr>
    <tr>
      <td>Delete Account:</td>
      <td><a href="/settings/delete?username=<%users[0].username%>">Yes, I would like to delete my account</td>
      <td><form action="/logout"><button>Log out</button></form></td>
       <% if (typeof message != "undefined"){ %>
          <h3 class="message"><%=message%></h3>
        <% } %>
    </tr>
  </table>
  </div>
  <script src="/js/tingle.min.js"></script>
  <script src="/js/update.js"></script>

<%- include('partials/footer.ejs') %>