<%- include('partials/header.ejs') %>
<%- include('partials/settingsNav.ejs') %>
  <div class="table-container">
  <table>
    <tr>
      <td colspan="3">Account<hr></td>
    </tr>
    <tr>
      <td>Membership</td>
      <td>Username: <div id="userNm"><%=users.username%></div><br><br>Password: ********</td>
      <td><div id="updateBtn">Change username</div><br><div id="updatePswd">Change password</div></td>
    </tr>
    <tr>
      <td colspan="3"><hr></td>
    </tr>
    <tr>
      <td>Profiles</td>
      <td><label for="pfp-input"><img id="defaultPfp" src="/api/image/" width = "150" height = "150" alt="second"></label></td>
      <input type="file" id="pfp-input" name="pfp-upload" accept="image/png, image/jpeg, image/jpg">
      <td><%=users.first + " " + users.last%><br><br><div id="logout"><form action="/logout"><button>Log out</button></form></div></td>

    </tr>
    <tr>
      <td colspan="3"><hr></td>
    </tr>
    <tr>
      <td>Delete Account:</td>
      <td><div class="serverMessage" id="server-Message2"></div></td>
      <td><a href="/settings/delete?user_id=<%users.userId%>">Yes, I would like to delete my account</a></td>
    </tr>
  </table>

  </div>

<div id="serverMessage"></div>
<div id="modal">
</div>
<div id="modal2">
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" integrity="sha512-6lplKUSl86rUVprDIjiW8DuOniNX8UDoRATqZSds/7t6zCQZfaCe3e5zcGaQwxa8Kpn5RTM9Fvl3X2lLV4grPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/tingle.min.js"></script>
  <script src="/js/update.js"></script>

<%- include('partials/footer.ejs') %>