<script>
  const exportedData = {
    'tvGenres': <%- JSON.stringify(tvGenres)%>,
    'tvGenreIDs': <%- JSON.stringify(tvGenreIDs)%>,
    'genres' : <%- JSON.stringify(genres) %>,
    'genreIDs': <%- JSON.stringify(genreIDs) %>,
    'types': <%- JSON.stringify(types) %>
  }
</script>

<div id="nav-container">
    <nav>

        <div id="sandwich-dropdown">
            <img id="sandwich" onclick="dropdownEvent()" src="/assets/menu_sandwich.png" alt="menu-sandwich">

            <div class="dropdown-content">
                <div class="main-choices">
                    <h3 class="dropdown-choice" id="dropdown-genre" onclick="changeActive(this, <%= JSON.stringify(genres) %>, <%= JSON.stringify(types) %>)">GENRE</h3>
                    <h3 class="dropdown-choice" id="dropdown-type" onclick="changeActive(this, <%= JSON.stringify(types) %>, <%= JSON.stringify(genres) %>)">TYPE</h3>
                </div>

                <div id="sub-choices-dynamic">

               <% for (let i = 0; i < genres.length; i++) {
                    if (i % 6 === 0) {

                        if (i > 0 && i % 6 === 0) { %>
                            </div>
                       <% } %>
                        <div class="sub-choices">
                            <h4 class="sub-choice" onclick="serverFunction(this)"><%= genres[i] %></h4>

                    <%} else { %>
                        <h4 class="sub-choice" onclick="serverFunction(this)"><%= genres[i] %></h4>
                   <% }%>
               <% } %>

                </div>
            </div>


        </div>

        <a href="/movies">
            <img id="logo-horizontal" src="/assets/BingeHiveHorizontalLogo.png" alt="logo">
        </a>

        <form id="search-bar" action="/search" method="get">
            <input type="text" id="search-bar-query" name="query" placeholder="Search...">
        </form>

        <a id="nav-settings" href="/settings">
            <img id="user-pfp" src="/api/image/" alt="user profile picture">
        </a>

    </nav>

    <script src="/js/sandwichDropdown.js"></script>
</div>